a:link  {font-family: Verdana, Helvetica, sans-serif; font-weight: normal} 

a:visited {font-family: Verdana, Helvetica, sans-serif;font-weight: normal} 

a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ECECEC;
} 


H1 { 
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    font-size: 225%;  
} 


H2 { 
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    font-size: 160%;  
} 


H3 {
	color: black;
	font-family: Verdana, Geneva, sans-serif;
} 


TD {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
} 
TH {font-family: Arial, Helvetica, sans-serif;} 


B { 
    font-weight: bold ; 
    font-family: Arial, Helvetica, sans-serif; 
} 

EM {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
} 
body {  font-family: Arial, Helvetica, sans-serif}
.Italic {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
.maintext {
	font-size: 12px;
	color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
}
#Italic {
	font-style: italic;
}
#Italic {
	font-style: italic;
}
td {
}
.italic {
	font-style: italic;
}
p {
}
